@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    border-radius: 0px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}